body {
    background-color: rgb(111, 111, 111);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}
h1 {
    color: black;
}
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imagem {
    float: left;
    width: 56px;
}
.logo-instagram {
    text-align: center;
}
